body {
    color: #676a6c;
    font-family: inherit;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5;

    -webkit-font-smoothing: antialiased;
       -moz-font-smoothing: antialiased; 
    text-rendering: optimizeLegibility;
}

a:active,
a:focus {
    outline: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    margin: 0 0 0 0;
    color: #676a6c;
    font-weight: 500; 
    line-height: 1.5;
}

h1,
h2 {
    letter-spacing: 2px;
}

h3,
h4 {
    letter-spacing: 2px;
}

h5,
h6 {
    letter-spacing: 1px;
}

a {
    text-decoration: none !important;
}

a:hover,
a:focus {
    color: #323232;
}

a,
.btn {
    -webkit-transition: all .3s;
            transition: all .3s;
}

a img,
iframe {
    border: none;
}

p {
    margin: 0 0 30px;
    color: #676a6c; 
    line-height: 30px;
    font-family: inherit;
}
span{
    
     font-family: 'Exo', sans-serif;
}

hr {
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
    border-top: 1px solid #eee;
}